#tablepesquisa tr:nth-child(2){
	background-color: #f2f3f4;
	height: 40px;
}
#tablepesquisa tr:first-child{
	background-color: #5dade2;
	height: 40px;
}
#tablepesquisa tr:nth-child(4){
	height: 320px;
	background-color: #f2f3f4;
}
#tablepesquisa td:first-child{
	width: 20%
}
#tableemail tr:nth-child(n){
	height: 30px;
	background-color: white;
	border-top: solid 1px #f2f3f4;
	border-bottom: solid 1px #f2f3f4;
}
#tableemail td:nth-child(2){
	white-space: nowrap;
	max-width: 1ch;
	overflow: hidden;
	text-overflow: ellipsis;
}
input{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: solid 1px #CCC;
	border-radius: 5px;
	vertical-align: middle;
	font-family: Arial;
	width: 70%;
}
table{
	border: none;
	border-collapse: collapse;
	font-family: Arial;
	width: 100%;
	vertical-align: top;
}
#nova{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: transparent;
	color: black;
	border: none;
	font-size: 13px;
	border-radius: 3px;
}
#nova:hover{
	background-color: #aed6f1;
}
button{
	background-color: transparent;
	border: none;
	cursor: pointer;
	height: 33px;
}
#botaomenu{
	width: 33px;
	height: 30px;
	vertical-align: middle;
	padding-top: 3px;
	padding-bottom: 3px;
}
#tablepesquisa{
	float: left; 
	text-align: center;
}
b{
	margin-left: 5%;
}
a{
	text-decoration: none;
	color: black;
}
.imgbotao{
	vertical-align: middle;
	width: 20px;
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
}
.botao{
	width: 100%;
	text-align: left;
}
#favoritos{
	background-color: #d6eaf8;
}
#caixaentrada{
	background-color: #a3e4d7;
}
#lixo{
	background-color: #d6eaf8;
}
#rascunho{
	background-color: #a3e4d7;
}
#enviados{
	background-color: #d6eaf8;
}
#excluidos{
	background-color: #a3e4d7;
}
#morto{
	background-color: #d6eaf8;
}