
/*corpo*/
body{
	background-image: url("../imagens/Fundo.jpeg");
	background-position: center;
	background-color: #cccccc;
	background-repeat: no-repeat;
}

/*section login*/
.box{
	border-radius: 5px;
	width: 25%;
	position: relative;
	left: 36%;
	text-align: center;
	font-family: Arial;
	background: white;
	padding: 20px;
}

.marg{
	margin-top: 15%;
}

/*botão*/
button{
	border: none;
	border-radius: 8px;
	background-color: #008CBA;
	color: white;
	padding: 15px 32px;
	font-size: 15px;
    cursor: pointer;
    margin-top:10px;
}

button:hover{
    background-color: #007CBA ;
}

/*input*/
input{
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #CCC;
	border-radius: 2px;
	margin-top: 3px;
	font-family: "Arial";
}
