/*corpo*/
body{
	background-image: url("../imagens/Fundo.jpeg");
	background-position: center;
	background-color: #cccccc;
	background-repeat: no-repeat;
}	
/*login*/
.box{
	border-radius: 5px;
	width: 25%;
	position: relative;
	left: 36%;
	text-align: center;
	font-family: 'Cinzel Decorative';
	background: white;
	padding: 20px;
}
.marg{
	margin-top: 10%;
}
/*botão de entrar*/
.butentrar{
	border: none;
	border-radius: 8px;
	background-color: #008CBA;
	color: white;
	padding: 15px 32px;
	font-size: 18px;
    cursor: pointer;
    margin-top:10px;
}
.butentrar:hover{
    background-color: #007CBA ;
}
/*link styles*/
.esqueci{
	text-decoration: none;
    color:#A52A2A;
}
.esqueci:hover {
   	text-decoration: underline;
   	color:#8B0000;
	}
.cadastrar{
	text-decoration: none;
    color:#008CBA;
}
.cadastrar:hover {
   	text-decoration: underline;
   	color:#007CBA;
}
/*input*/
input{
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid 1px #CCC;
	border-radius: 2px;
	margin-top: 3px;
	font-family: "Arial";
	font-size: 18px;
}
.inputVazio{
	border-color: red;
}
.inputVazio::placeholder{
	color: red;
}
button:hover{
	background-color: #007CBA;
}
button{
	outline: none;
	border: none;
}